
# Ignore Visual Studio settings folder
.vs/


# Ignore bin and obj directories at the root and recursively
bin/
obj/
**/bin/


**/obj/

.vs/



/bin/
/obj/
obj/
bin/
**/obj/
**/bin/

